@import "./imports/var.scss";
@import "./imports/media.scss";

*{
    margin: 0;
    padding: 0;
}  

body{
    background-color: $background-color;
    font-size: $fonte;
}

nav{
    img{
        height: 35px;
        margin-top: 15px;
        margin-left: 40px;
    }
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    flex-wrap: wrap;

    .inputSide{
        width: 55%;

        .buttonInput{
            margin-left: 70px;
            margin-top: 25px;
            button{
                width: 45%;
                height: 60px;
                margin-left: 15px;
                border-radius: 25px;
                background-color: $botao-fundo;
                color: $color-buttonInput;
                border: 2px solid $botao-fundo;

            }
            #descriptografar{
                background-color: $descriptografar-cor;
                color: $botao-fundo;
            }
        }
        textarea{
            background-color:$textarea-back;
            border: none;
            margin-left: 85px;
            width: 95%;
            height: 350px;
            padding: 10px;
            margin-top: 25px;
            font-size: $fonte-textarea;
            color: $botao-fundo;

            &:focus{
                outline: none;
                border: none;
            }
        }
    }

    .resultSide{
        background-color: $resultSide-background;
        width: 25%;
        height: 525px;
        margin-left: 85px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 55px;
        text-align: center;


        img{
            width: 75%;
            height: 185px;
            margin-top: 85px;
        }
        h2{
            margin: 15px;
        }

        #copiar{
            display: none;
            width: 90%;
            border: 1px solid $botao-fundo;
            color:$botao-fundo;
            height: 60px;
            border-radius: 20px;
            margin-top: 30px;
        }
        
    }
}
