$background-color:rgb(233	236	248);
$fonte: 1rem;
$fonte-textarea:1.5rem;
$descriptografar-cor:rgb(216 223 232);
$botao-fundo:rgb(10 56	113);
$resultSide-background:rgb(255, 255, 255);
$textarea-back: transparent;
$color-buttonInput:white; 